{$SITE_ADDRESS} {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
        -Server
    }
    handle /api/* {
        reverse_proxy api:8000
    }
    redir /controller /controller/ 308
    redir /station /station/ 308
    handle_path /controller/* {
        root * /srv/controller
        try_files {path} /index.html
        file_server
    }
    handle_path /station/* {
        root * /srv/station
        try_files {path} /index.html
        file_server
    }
    handle {
        root * /srv/passenger
        try_files {path} /index.html
        file_server
    }
}
